################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/*
bam.exe
autoexec.cfg
autoexec_server.log
Compiling.bat
DDNet-Server.exe
.bam/00000000
config.lua
objs/*
accounts/*
