################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs
bam.exe
autoexec.cfg
autoexec_server.log
Compiling.bat
config.lua
DDNet-Server.exe
objs/base/confusables.obj
objs/base/system.obj
objs/engine/external/md5/md5.obj
objs/engine/external/zlib/adler32.obj
objs/engine/external/zlib/compress.obj
objs/engine/external/zlib/crc32.obj
objs/engine/external/zlib/deflate.obj
objs/engine/external/zlib/gzclose.obj
objs/engine/external/zlib/gzlib.obj
objs/engine/external/zlib/gzread.obj
objs/engine/external/zlib/gzwrite.obj
objs/engine/external/zlib/infback.obj
objs/engine/external/zlib/inffast.obj
objs/engine/external/zlib/inflate.obj
objs/engine/external/zlib/inftrees.obj
objs/engine/external/zlib/trees.obj
objs/engine/external/zlib/uncompr.obj
objs/engine/external/zlib/zutil.obj
objs/engine/server/register.obj
objs/engine/server/server.obj
objs/engine/shared/compression.obj
objs/engine/shared/config.obj
objs/engine/shared/console.obj
objs/engine/shared/datafile.obj
objs/engine/shared/demo.obj
objs/engine/shared/econ.obj
objs/engine/shared/engine.obj
objs/engine/shared/fifoconsole.obj
objs/engine/shared/filecollection.obj
objs/engine/shared/huffman.obj
objs/engine/shared/jobs.obj
objs/engine/shared/kernel.obj
objs/engine/shared/linereader.obj
objs/engine/shared/map.obj
objs/engine/shared/mapchecker.obj
objs/engine/shared/masterserver.obj
objs/engine/shared/memheap.obj
objs/engine/shared/netban.obj
objs/engine/shared/network.obj
objs/engine/shared/network_client.obj
objs/engine/shared/network_conn.obj
objs/engine/shared/network_console.obj
objs/engine/shared/network_console_conn.obj
objs/engine/shared/network_server.obj
objs/engine/shared/packer.obj
objs/engine/shared/ringbuffer.obj
objs/engine/shared/serverbrowser.obj
objs/engine/shared/snapshot.obj
objs/engine/shared/storage.obj
objs/engine/shared/websockets.obj
objs/game/collision.obj
objs/game/gamecore.obj
objs/game/generated/nethash.obj
objs/game/generated/protocol.obj
objs/game/generated/server_data.obj
objs/game/layers.obj
objs/game/localization.obj
objs/game/server/ddracecommands.obj
objs/game/server/entities/account.obj
objs/game/server/entities/character.obj
objs/game/server/entities/cmds.obj
objs/game/server/entities/hearth.obj
objs/game/server/entities/mine.obj
objs/game/server/entities/pickup.obj
objs/game/server/entities/projectile.obj
objs/game/server/entities/turret.obj
objs/game/server/entities/wall.obj
objs/game/server/entities/zdoor.obj
objs/game/server/entity.obj
objs/game/server/eventhandler.obj
objs/game/server/gamecontext.obj
objs/game/server/gamecontroller.obj
objs/game/server/gamemodes/DDRace.obj
objs/game/server/gameworld.obj
objs/game/server/player.obj
objs/game/server/teams.obj
objs/game/teamscore.obj
config.lua
.bam/00000000
config.lua
config.lua
